                <div class="regular-menu">
                    <ul class="menu">
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="portfolio_3col.html">Our Work</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li class="has-children">
                            <a href="javascript:void(0)">Submenu</a>
                            <ul class="submenu">
                                <li class="active"><a href="javascript:void(0)">Lorem Ipsum</a></li>
                                <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
                                <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
                                <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
                                <li><a href="javascript:void(0)">Lorem Ipsum</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>